@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
textarea {
  resize: none;
}

/* HEADER */
/* header{
    background-color: #FFF3E1;
} */
/* MAIN */
/* Modal */
.custom-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 150px;
}

.modal-content {
  max-width: max-content;
  margin: auto;
  background-color: #fefefe;
  padding: 20px;
  display: flex;
}

.modal-content form {
  width: 500px;
}

.modal-content .modal-esc .close {
  display: block;
  color: #aaaaaa;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.modal-content .modal-esc .close:hover,
.modal-content .modal-esc .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
footer .navbar-footer ul li.active a svg {
  fill: #f97316;
}
